@import '../partials/layout';

// colors

$color-example: #D0021B;


$color-black: #000;
$color-pre-black: #444;
$color-grey: #AAA;
$color-white: #FFF;

// fonts 
$primary-font: 'Montserrat', sans-serif;
$text-font: 'Merriweather', serif;

html * {
//	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


h1 {
	font-family: $primary-font;
	color: $color-black;
	
	font-size: 4.8rem;
	letter-spacing: 1px;
	line-height: 1.12;
	font-weight: 700;
	
	@include MQ(M) {

	}
}


h4 {
	font-family: $text-font;
	color: $color-pre-black;
	
	font-size: 1.8rem;
	letter-spacing: 0.6px;
	line-height: 1.3;
	font-weight: 400;
	font-style: italic;
	
	@include MQ(M) {

	}
}


h5 {
	font-family: $primary-font;
	color: $color-grey;
	
	font-size: 1.2rem;
	letter-spacing: 1.8px;
	line-height: 1.2;
	font-weight: 400;
	
	@include MQ(M) {

	}
}


p {
	font-family: $text-font;
	color: $color-black;
	
	font-size: 1.7rem;
	letter-spacing: 0.2px;
	line-height: 1.7;
	font-weight: 400;
	
	@include MQ(M) {

	}
}

i {
	font-family: $text-font;
	color: $color-example;
	
	font-size: 1.4rem;
	letter-spacing: 0.2px;
	line-height: 1.8;
	font-weight: 700;
	font-style: italic;
	
	@include MQ(M) {

	}
}



//
//h2 {
//	font-family: $primary-font;
//	color: $color-dark;
//	line-height: 1.2;
//	font-weight: 700;
//	font-size: 2.4rem;
//
//	@include MQ(M) {
//
//	}
//
//	@include MQ(L) {
//		font-family: $primary-font;
//		font-size: 3.6rem;
//	}
//}
//
//
//h4 {
//	font-family: $primary-font;
//	color: $color-grey;
//	line-height: 1.44;
//	font-weight: 700;
//	letter-spacing: 0.2px;
//	font-size: 1.4rem;
//
//	@include MQ(M) {
//
//	}
//
//	@include MQ(L) {
//		font-size: 1.8rem;
//
//	}
//}
//
//
//
//
//h5 {
//	font-family: $primary-font;
//	color: $color-grey;
//	line-height: 1.3;
//	font-weight: 700;
//	font-size: 1.2rem;
//
//
//	@include MQ(M) {
//
//	}
//
//	@include MQ(L) {
//		font-family: $primary-font;
//		font-size: 1.4rem;
//
//	}
//}
//
//
//p {
//	font-family: $primary-font;
//	color: $color-pre-grey;
//	line-height: 1.44;
//	font-weight: 700;
//	letter-spacing: 0.4px;
//	font-size: 1.4rem;
//	max-width: 430px;
//
//	@include MQ(M) {
//
//	}
//
//	@include MQ(L) {
//		font-family: $primary-font;
//		font-size: 2.2rem;
//		line-height: 1.36;
//		max-width: 100%;
//		letter-spacing: 1px;
//	}
//}
//
//
//
//a {
//	font-family: $primary-font;
//	font-weight: 700;
//	text-decoration: none;
//	color: $color-tint;
//}
//
//a:hover {
//	color: $color-complementary;
//}
//
//
//.button a {
//	font-family: $primary-font;
//	color: $color-white;
//	line-height: 1.2;
//	font-weight: 700;
//	letter-spacing: 1.2px;
//	text-transform: uppercase;
//	text-align: center;
//	vertical-align: middle;
//	font-size: 1rem;
//
//	@include MQ(M) {
//
//	}
//
//	@include MQ(L) {
//		font-family: $primary-font;
//		font-size: 1.2rem;
//
//	}
//}
//
//
//
//#header-links a:hover {
//	color: $color-white;
//}
//
